--extra-index-url https://download.pytorch.org/whl/cpu

chromadb
numpy<2
pandas
scikit-learn
rank-bm25
openai
python-dotenv
streamlit

torch==2.3.1+cpu
transformers==4.41.2
sentence-transformers==3.0.1
huggingface-hub==0.23.4
